.contact-profile-container {
  width: 50%;
  display: flex;
  flex-direction: column;

  .image-container, .contact-name {
    text-align: center;
  }

  .contact-name {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .info-row {
    padding: 15px 0;
  }

  .full-row {
    padding: 15px 4px;
  }
}